{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  {# --- GEO: meta description from frontmatter --- #}
  {% if page and page.meta and page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
  {% endif %}

  {# --- ALGOLIA FACETS: render frontmatter as docsearch meta tags --- #}
  {% if page and page.meta %}
    {% if page.meta.content_type %}
    <meta name="docsearch:content_type" content="{{ page.meta.content_type }}">
    {% endif %}

    {% if page.meta.product %}
    <meta name="docsearch:product" content="{{ page.meta.product }}">
    {% endif %}

    {% if page.meta.n8n_component %}
    <meta name="docsearch:n8n_component" content="{{ page.meta.n8n_component }}">
    {% endif %}

    {% if page.meta.n8n_version %}
    <meta name="docsearch:version" content="{{ page.meta.n8n_version }}">
    {% endif %}
  {% endif %}
{% endblock %}
