[Unit]
Description=Run VeriDoc healthcheck monitor every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=veridoc-healthcheck-monitor.service
Persistent=true

[Install]
WantedBy=timers.target
